@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/helvetica-neue-9");
.row {
  flex-wrap: nowrap !important;
}

.annual-report {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-display: swap;
}
.annual-report p {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-display: swap;
}
.annual-report h3 {
  text-transform: uppercase;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
}
.annual-report button {
  text-transform: uppercase;
}
.annual-report .container {
  margin: 0 auto !important;
  text-align: center;
}

.heading {
  margin: 0 auto;
  text-align: center;
  white-space: pre-wrap;
  display: block;
  line-height: 5px;
  margin-top: 100px;
  margin-bottom: 5px;
}

h2.title {
  font-family: "Oswald";
  font-weight: 700;
  font-size: 4em;
  line-height: 1em;
  color: #141414;
  text-transform: uppercase;
}

p.sub-text {
  font-family: "Helvetica 45 Light", sans-serif;
  font-weight: 200;
  font-size: 1.5em;
  margin-bottom: 20px;
  line-height: normal;
  color: #141414;
  font-display: swap;
}

.modal-body .container {
  text-align: revert;
  margin: revert;
}

.grid-box {
  z-index: 0;
  width: 100%;
  height: 20vh;
  max-height: 300px;
  min-height: 300px;
  background-color: #888;
  cursor: pointer;
  padding: 0px;
}

.grid-box:hover > * {
  visibility: visible;
  opacity: 100;
}

.btn {
  font-weight: 700;
  font-size: 18px;
  background-color: white !important;
}

.grid-box .container {
  margin-top: 10% !important;
}

.cell_1 {
  position: inherit;
  overflow: hidden;
  color: white;
  font-family: "Oswald";
  background-color: rgba(62, 177, 200, 0.8);
  visibility: hidden;
  max-height: inherit;
  min-height: inherit;
  z-index: 0;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.cell_2 {
  position: inherit;
  overflow: hidden;
  color: white;
  font-family: "Oswald";
  background-color: rgba(228, 0, 43, 0.8);
  visibility: hidden;
  max-height: inherit;
  min-height: inherit;
  z-index: 0;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.cell_3 {
  position: inherit;
  overflow: hidden;
  color: white;
  font-family: "Oswald";
  background-color: rgba(152, 134, 191, 0.8);
  visibility: hidden;
  max-height: inherit;
  min-height: inherit;
  z-index: 0;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.cell_4 {
  position: inherit;
  overflow: hidden;
  color: white;
  font-family: "Oswald";
  background-color: rgba(122, 205, 141, 0.8);
  visibility: hidden;
  max-height: inherit;
  min-height: inherit;
  z-index: 0;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.cell_5 {
  position: inherit;
  overflow: hidden;
  color: white;
  font-family: "Oswald";
  background-color: rgba(30, 96, 121, 0.8);
  visibility: hidden;
  max-height: inherit;
  min-height: inherit;
  z-index: 0;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.cell_6 {
  position: inherit;
  overflow: hidden;
  color: white;
  font-family: "Oswald";
  background-color: rgba(140, 158, 171, 0.8);
  visibility: hidden;
  max-height: inherit;
  min-height: inherit;
  z-index: 0;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.cell_7 {
  position: inherit;
  overflow: hidden;
  color: white;
  font-family: "Oswald";
  background-color: rgba(83, 73, 145, 0.8);
  visibility: hidden;
  max-height: inherit;
  min-height: inherit;
  z-index: 0;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.cell_8 {
  position: inherit;
  overflow: hidden;
  color: white;
  font-family: "Oswald";
  background-color: rgba(244, 180, 43, 0.8);
  visibility: hidden;
  max-height: inherit;
  min-height: inherit;
  z-index: 0;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.cell_9 {
  position: inherit;
  overflow: hidden;
  color: white;
  font-family: "Oswald";
  background-color: rgba(194, 200, 101, 0.8);
  visibility: hidden;
  max-height: inherit;
  min-height: inherit;
  z-index: 0;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.cell_1 .btn {
  color: rgba(62, 177, 200, 0.8) !important;
}

.cell_2 .btn {
  color: rgba(228, 0, 43, 0.8) !important;
}

.cell_3 .btn {
  color: rgba(152, 134, 191, 0.8) !important;
}

.cell_4 .btn {
  color: rgba(122, 205, 141, 0.8) !important;
}

.cell_5 .btn {
  color: rgba(30, 96, 121, 0.8) !important;
}

.cell_6 .btn {
  color: rgba(140, 158, 171, 0.8) !important;
}

.cell_7 .btn {
  color: rgba(83, 73, 145, 0.8) !important;
}

.cell_8 .btn {
  color: rgba(244, 180, 43, 0.8) !important;
}

.cell_9 .btn {
  color: rgba(194, 200, 101, 0.8) !important;
}

#box1 {
  background-image: url(../images/tinified/leader-communication-popup-300px.jpg);
  background-size: cover;
  background-position: 0px 0px;
}

#box2 {
  background-image: url(../images/tinified/member-communication-popup-300px.jpg);
  background-size: cover;
  background-position: center center;
}

#box3 {
  background-image: url(../images/tinified/seeker-popup-300px.jpg);
  background-size: cover;
  background-position: center center;
}

#box4 {
  background-image: url(../images/tinified/umnews-popup-300px.jpg);
  background-size: cover;
  background-position: center center;
}

#box5 {
  background-image: url(../images/tinified/lcs-and-training-popup-300px.jpg);
  background-size: cover;
  background-position: center center;
}

#box6 {
  background-image: url(../images/tinified/global-communications-popup-300px.jpg);
  background-size: cover;
  background-position: center center;
}

#box7 {
  background-image: url(../images/tinified/marketing-popup-300px.jpg);
  background-size: cover;
  background-position: center center;
}

#box8 {
  background-image: url(../images/tinified/technology-popup-300px.jpg);
  background-size: cover;
  background-position: center center;
}

#box9 {
  background-image: url(../images/tinified/production-services-popup-300px.jpg);
  background-size: cover;
  background-position: center center;
}

.buttonLabel {
  background-color: #444444;
  color: white;
  border-radius: 10px;
  padding: 5px 20px;
  display: inline-block;
}

.space {
  margin: 100px;
}

.space-2 {
  margin-bottom: 85px;
}

.infograph {
  left: 168px;
  padding-top: 200px;
  justify-content: center;
  display: flex;
  position: relative;
}

.infograph p {
  font-size: 20px !important;
}

.top-left-section {
  position: relative;
  width: 5.5em;
  max-width: 100%;
  z-index: 0;
  top: 153px;
  left: 249px;
  z-index: 1;
}

.top-left-image {
  top: -232px;
  left: -253px;
  right: 0;
  bottom: 0;
  position: relative;
  width: 13em;
  height: auto;
  opacity: 1;
}

.top-left-image-hover {
  top: -545px;
  left: -333px;
  right: 0;
  bottom: 0;
  position: relative;
  width: 25em;
  height: auto;
}

.top-left-section img.top-left-image-hover {
  opacity: 0;
  transition: opacity 0.2s;
}

.top-left-section:hover img.top-left-image-hover {
  opacity: 1;
}

.top-left-section:hover img.top-left-image {
  opacity: 0;
  transition: opacity 0.2s;
}

.top-section {
  position: relative;
  width: 5.5em;
  max-width: 100%;
  z-index: 0;
  top: 182px;
  left: 130px;
  z-index: 1;
}

.top-image {
  top: -422px;
  left: 85px;
  right: 0;
  bottom: 0;
  position: relative;
  width: 13em;
  height: auto;
  opacity: 1;
}

.top-image-hover {
  top: -645px;
  left: -63px;
  right: 0;
  bottom: 0;
  position: relative;
  width: 33em;
  height: auto;
}

.top-section img.top-image-hover {
  opacity: 0;
  transition: opacity 0.2s;
}

.top-section:hover img.top-image-hover {
  opacity: 1;
}

.top-section:hover img.top-image {
  opacity: 0;
  transition: opacity 0.2s;
}

.top-left-section:hover ~ .middle-image-hover,
.top-section:hover ~ .middle-image-hover,
.top-right-section:hover ~ .middle-image-hover,
.bottom-left-section:hover ~ .middle-image-hover,
.bottom-section:hover ~ .middle-image-hover,
.bottom-right-section:hover ~ .middle-image-hover {
opacity: 0.6 !important;
  transition: opacity 0.2s;
}

.infograph .stats h4 {
  color: white;
  font-weight: 700;
  font-size: 1em;
  font-family: "Oswald";
}

.top-left-section:hover > .stats,
.top-section:hover > .stats,
.top-right-section:hover > .stats,
.bottom-right-section:hover > .stats,
.bottom-section:hover > .stats,
.bottom-left-section:hover > .stats {
  opacity: 1 !important;
  transition: opacity 0.2s;
}

.top-right-section {
  position: relative;
  top: -57px;
  left: 124px;
  width: 5.5em;
  max-width: 100%;
  z-index: 1;
}

.top-right-image {
  top: -14px;
  left: 296px;
  right: 0;
  bottom: 0;
  position: relative;
  width: 13em;
  height: auto;
  opacity: 1;
}

.top-right-image-hover {
  top: -332px;
  left: 213px;
  right: 0;
  bottom: 0;
  position: relative;
  width: 24em;
  height: auto;
}

.top-right-section img.top-right-image-hover {
  opacity: 0;
  transition: opacity 0.2s;
}

.top-right-section:hover img.top-right-image-hover {
  opacity: 1;
}

.top-right-section:hover img.top-right-image {
  opacity: 0;
  transition: opacity 0.2s;
}

.bottom-right-section {
  position: relative;
  top: -57px;
  left: 124px;
  width: 5.5em;
  max-width: 100%;
  z-index: 1;
}

.bottom-right-image {
  top: 306px;
  left: 214px;
  right: 0;
  bottom: 0;
  position: relative;
  width: 13em;
  height: auto;
  opacity: 1;
}

.bottom-right-image-hover {
  top: 71px;
  left: 137px;
  right: 0;
  bottom: 0;
  position: relative;
  width: 24em;
  height: auto;
}

.bottom-right-section img.bottom-right-image-hover {
  opacity: 0;
  transition: opacity 0.2s;
}

.bottom-right-section:hover img.bottom-right-image-hover {
  opacity: 1;
}

.bottom-right-section:hover img.bottom-right-image {
  opacity: 0;
  transition: opacity 0.2s;
}

.bottom-section {
  position: relative;
  width: 5.5em;
  max-width: 200px;
  z-index: 0;
  top: 315px;
  left: -328px;
  z-index: 1;
}

.bottom-image {
  top: 95px;
  left: 310px;
  right: 0;
  bottom: 0;
  position: relative;
  width: 13em;
  height: auto;
  opacity: 1;
}

.bottom-image-hover {
  top: -134px;
  left: 179px;
  right: 0;
  bottom: 0;
  position: relative;
  width: 31em;
  height: auto;
}

.bottom-section img.bottom-image-hover {
  opacity: 0;
  transition: opacity 0.2s;
}

.bottom-section:hover img.bottom-image-hover {
  opacity: 1;
}

.bottom-section:hover img.bottom-image {
  opacity: 0;
  transition: opacity 0.2s;
}

.bottom-left-section {
  top: -53px;
  left: -808px;
  position: relative;
  width: 5.5em;
  max-width: 200px;
  z-index: 1;
}

.bottom-left-image {
  top: 288px;
  left: 409px;
  right: 0;
  bottom: 0;
  position: relative;
  width: 13em;
  height: auto;
  opacity: 1;
}

.bottom-left-image-hover {
  top: 35px;
  left: 348px;
  right: 0;
  bottom: 0;
  position: relative;
  width: 24em;
  height: auto;
}

.bottom-left-section img.bottom-left-image-hover {
  opacity: 0;
  transition: opacity 0.2s;
}

.bottom-left-section:hover img.bottom-left-image-hover {
  opacity: 1;
}

.bottom-left-section:hover img.bottom-left-image {
  opacity: 0;
  transition: opacity 0.2s;
}

.middle-image {
  top: 0px;
  left: -262px;
  right: 0;
  bottom: 0;
  width: 25em;
  height: 25em;
  background-image: url(../images/info_graph/center-0.png);
  border-radius: 100%;
  background-repeat: none;
  background-position: center;
  background-size: cover;
  position: relative;
}

.middle-image-hover {
  top: 0px;
  left: -613px;
  /*background-color: #00B6C0;*/
  bottom: 0;
  width: 350px;
  height: 350px;
  border-radius: 100%;
  background-repeat: none;
  position: relative;
  opacity: 0;
  transition: opacity 0.2s;
}
/*
.middle-image-hover-top-left {
  top: 0px;
  left: -974px;
  background-image: url(../images/info_graph/center-6.png);
  bottom: 0;
  width: 350px;
  height: 350px;
  border-radius: 100%;
  background-repeat: none;
  position: relative;
  transition: opacity 0.2s;
}

.middle-image-hover-top {
  top: 0px;
  left: -620px;
  background-image: url(../images/info_graph/center-1.png);
  bottom: 0;
  width: 350px;
  height: 350px;
  border-radius: 100%;
  background-repeat: none;
  position: relative;
  transition: opacity 0.2s;
}
*/

.top-left-section > .stats {
  color: white;
  width: 300px;
  height: 300px;
  font-size: 3em;
  position: absolute;
  top: -24px;
  left: -22px;
  opacity: 0;
  transition: opacity 0.2s;
}

.top-section > .stats {
  color: white;
  width: 300px;
  height: 300px;
  font-size: 3em;
  position: absolute;
  top: -44px;
  left: 21px;
  opacity: 0;
  transition: opacity 0.2s;
}

.top-right-section > .stats {
  color: white;
  width: 300px;
  height: 300px;
  font-size: 3em;
  position: absolute;
  top: 197px;
  left: -54px;
  opacity: 0;
  transition: opacity 0.2s;
}

.bottom-right-section > .stats {
  color: white;
  width: 300px;
  height: 300px;
  font-size: 3em;
  position: absolute;
  top: 191px;
  left: -130px;
  opacity: 0;
  transition: opacity 0.2s;
}

.bottom-section > .stats {
  color: white;
  width: 300px;
  height: 300px;
  font-size: 3em;
  position: absolute;
  top: -188px;
  left: 242px;
  opacity: 0;
  transition: opacity 0.2s;
}

.bottom-left-section > .stats {
  color: white;
  width: 300px;
  height: 300px;
  font-size: 3em;
  position: absolute;
  top: 186px;
  left: 652px;
  opacity: 0;
  transition: opacity 0.2s;
}

.videoResponsive {
  padding-bottom: 56.25%;
  height: 0;
  position: relative;
  padding-top: 30px;
  overflow: hidden;
}

.videoResponsive iframe,
.videoResponsive object,
.videoResponsive embed {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.col-8 p {
  font-family: "Helvetica 45 Light", sans-serif;
  font-weight: 200;
  font-display: swap;
}

.modal-content {
  border-radius: 1rem !important;
}

.modal-header {
  border-bottom: 0px !important;
}

#modal-1 h3,
#modal-2 h3,
#modal-3 h3,
#modal-4 h3,
#modal-5 h3,
#modal-6 h3,
#modal-7 h3,
#modal-8 h3,
#modal-9 h3 {
  line-height: 40px;
}

#modal-1 .modal-image {
  background-image: url(../images/tinified/leader-communication-popup-300px.jpg);
  background-size: cover;
  background-position: top center;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 40px;
}

.close {
  padding: 10px 15px !important;
  margin: 0rem 0rem 0rem auto !important;
  color: white;
  opacity: 1 !important;
  border-radius: 5px;
}

.modal-content {
  top: 200px;
}

#modal-1 h3 {
  color: rgba(62, 177, 200, 0.8);
  font-size: 40px;
  opacity: 1 !important;
}

#modal-1 h4 {
  color: rgba(62, 177, 200, 0.8);
  font-family: "Oswald";
  font-size: 2.5rem;
  font-weight: 700;
  opacity: 1 !important;
  text-align: center;
  margin-top: 40px;
}

#modal-1 .close {
  background-color: rgba(62, 177, 200, 0.8);
  opacity: 1 !important;
}

.model-body-text .stats {
  padding-top: 20px;
}

.sub-text {
  font-weight: 700;
}

.sub-text-2 {
  font-family: "Helvetica 45 Light", sans-serif;
  font-weight: 200;
  text-align: center;
  line-height: 1em;
  color: #3a3a3a;
  font-display: swap;
}

#modal-2 .modal-image {
  background-image: url(../images/tinified/member-communication-popup-300px.jpg);
  background-size: cover;
  background-position: center center;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 40px;
}

#modal-2 h3 {
  color: rgba(228, 0, 43, 0.8);
  font-size: 40px;
  opacity: 1 !important;
}

#modal-2 h4 {
  color: rgba(228, 0, 43, 0.8);
  font-family: "Oswald";
  font-size: 2.5rem;
  font-weight: 700;
  opacity: 1 !important;
  text-align: center;
  margin-top: 40px;
}

#modal-2 .close {
  background-color: rgba(228, 0, 43, 0.8);
  opacity: 1 !important;
}

#modal-3 .modal-image {
  background-image: url(../images/tinified/seeker-popup-300px.jpg);
  background-size: cover;
  background-position: center center;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 40px;
}

#modal-3 h3 {
  color: rgba(152, 134, 191, 0.8);
  font-size: 40px;
  opacity: 1 !important;
}

#modal-3 h4 {
  color: rgba(152, 134, 191, 0.8);
  font-family: "Oswald";
  font-size: 2.5rem;
  font-weight: 700;
  opacity: 1 !important;
  text-align: center;
  margin-top: 40px;
}

#modal-3 .close {
  background-color: rgba(152, 134, 191, 0.8);
  opacity: 1 !important;
}

#modal-4 .modal-image {
  background-image: url(../images/tinified/umnews-popup-300px.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 40px;
}

#modal-4 h3 {
  color: rgba(122, 205, 141, 0.8);
  font-size: 40px;
  opacity: 1 !important;
}

#modal-4 h4 {
  color: rgba(122, 205, 141, 0.8);
  font-family: "Oswald";
  font-size: 2.5rem;
  font-weight: 700;
  opacity: 1 !important;
  text-align: center;
  margin-top: 40px;
}

#modal-4 .close {
  background-color: rgba(122, 205, 141, 0.8);
  opacity: 1 !important;
}

#modal-5 .modal-image {
  background-image: url(../images/tinified/lcs-and-training-popup-300px.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 40px;
}

#modal-5 h3 {
  color: rgba(30, 96, 121, 0.8);
  font-size: 40px;
  opacity: 1 !important;
}

#modal-5 h4 {
  color: rgba(30, 96, 121, 0.8);
  font-family: "Oswald";
  font-size: 2.5rem;
  font-weight: 700;
  opacity: 1 !important;
  text-align: center;
  margin-top: 40px;
}

#modal-5 .close {
  background-color: rgba(30, 96, 121, 0.8);
  opacity: 1 !important;
}

#modal-6 .modal-image {
  background-image: url(../images/tinified/global-communications-popup-300px.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 40px;
}

#modal-6 h3 {
  color: rgba(140, 158, 171, 0.8);
  font-size: 40px;
  opacity: 1 !important;
}

#modal-6 h4 {
  color: rgba(140, 158, 171, 0.8);
  font-family: "Oswald";
  font-size: 2.5rem;
  font-weight: 700;
  opacity: 1 !important;
  text-align: center;
  margin-top: 40px;
}

#modal-6 .close {
  background-color: rgba(140, 158, 171, 0.8);
  opacity: 1 !important;
}

#modal-7 .modal-image {
  background-image: url(../images/tinified/marketing-popup-300px.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 40px;
}

#modal-7 h3 {
  color: rgba(83, 73, 145, 0.8);
  font-size: 40px;
  opacity: 1 !important;
}

#modal-7 h4 {
  color: rgba(83, 73, 145, 0.8);
  font-family: "Oswald";
  font-size: 2.5rem;
  font-weight: 700;
  opacity: 1 !important;
  text-align: center;
  margin-top: 40px;
}

#modal-7 .close {
  background-color: rgba(83, 73, 145, 0.8);
}

#modal-8 .modal-image {
  background-image: url(../images/tinified/technology-popup-300px.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 40px;
}

#modal-8 h3 {
  color: rgba(244, 180, 43, 0.8);
  font-size: 40px;
  opacity: 1 !important;
}

#modal-8 h4 {
  color: rgba(244, 180, 43, 0.8);
  font-family: "Oswald";
  font-size: 2.5rem;
  font-weight: 700;
  opacity: 1 !important;
  text-align: center;
  margin-top: 40px;
}

#modal-8 .close {
  background-color: rgba(244, 180, 43, 0.8);
}

#modal-9 .modal-image {
  background-image: url(../images/tinified/production-services-popup-300px.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 40px;
}

#modal-9 h3 {
  color: rgba(194, 200, 101, 0.8);
  font-size: 40px;
  opacity: 1 !important;
  line-height: 40px;
}

#modal-9 h4 {
  color: rgba(194, 200, 101, 0.8);
  font-family: "Oswald";
  font-size: 2.5rem;
  font-weight: 700;
  opacity: 1 !important;
  text-align: center;
  margin-top: 40px;
}

#modal-9 .close {
  background-color: rgba(194, 200, 101, 0.8);
}

.mobile-infograph {
  visibility: hidden;
}

@media only screen and (max-width: 992px) {
  .row {
    flex-wrap: wrap !important;
  }

  .infograph {
    display: none !important;
  }

  .mobile-infograph {
    visibility: visible;
    padding: 0px !important;
  }

  h2.title {
    font-family: "Oswald";
    font-weight: 700;
    font-size: 2em;
    /*line-height: .5em;*/
    color: #141414;
    text-transform: uppercase;
  }

  .infograph-mobile-stats {
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 200px;
    text-align: center;
    margin: 10px 0px;
    padding: 10px 20px;
  }

  .infograph-mobile-stats#leaders-trained {
    background-image: url(../images/info_graph/mobile/metric-image-darkgreen-overlay-leaderstrained.jpg);
  }

  .infograph-mobile-stats#advertising {
    background-image: url(../images/info_graph/mobile/metric-image-darkpurple-overlay-advertising.jpg);
  }

  .infograph-mobile-stats#webpage {
    background-image: url(../images/info_graph/mobile/metric-image-lightgreen-overlay-webpage.jpg);
  }

  .infograph-mobile-stats#social-media {
    background-image: url(../images/info_graph/mobile/metric-image-lightpurple-overlay-socialmedia.jpg);
  }

  .infograph-mobile-stats#churches-served {
    background-image: url(../images/info_graph/mobile/metric-image-red-overlay-churchesserved.jpg);
  }

  .infograph-mobile-stats#newsletter {
    background-image: url(../images/info_graph/mobile/metric-image-teal-overlay-newsletter.jpg);
  }



  .infograph-mobile-stats h4 {
    margin-top: 32px;
    font-size: 4em;
    color: white;
    font-weight: 700;
    font-family: "Oswald";
  }
  .infograph-mobile-stats p {
    color: white;
    font-family: "Helvetica 45 Light", sans-serif;
    font-size: 1.5em;
    font-weight: 200;
    font-display: swap;
  }

  .modal-image {
    width: 19rem !important;
    left: 0px;
    position: relative;
  }

  .space-2 {
    margin-bottom: 0px;
  }

  .heading {
    line-height: 0px;
  }
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 720px;
    margin: 1.75rem auto;
  }
}
@media (max-width: 375px) {
  #modal-1 h3,
#modal-2 h3,
#modal-3 h3,
#modal-4 h3,
#modal-5 h3,
#modal-6 h3,
#modal-7 h3,
#modal-8 h3,
#modal-9 h3 {
    font-size: 35px;
  }

  .modal-image {
    width: 17rem !important;
  }
}

/* Lite YouTube Embed */
lite-youtube {
  background-color: #000;
  position: relative;
  display: block;
  contain: content;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  max-width: 720px;
}

/* gradient */
lite-youtube::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
  background-position: top;
  background-repeat: repeat-x;
  height: 60px;
  padding-bottom: 50px;
  width: 100%;
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}

/* responsive iframe with a 16:9 aspect ratio
  thanks https://css-tricks.com/responsive-iframes/
*/
lite-youtube::after {
  content: "";
  display: block;
  padding-bottom: calc(100% / (16 / 9));
}
lite-youtube > iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}

/* play button */
lite-youtube > .lty-playbtn {
  display: block;
  width: 68px;
  height: 48px;
  position: absolute;
  cursor: pointer;
  transform: translate3d(-50%, -50%, 0);
  top: 50%;
  left: 50%;
  z-index: 1;
  background-color: transparent;
  /* YT's actual play button svg */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68 48"><path d="M66.52 7.74c-.78-2.93-2.49-5.41-5.42-6.19C55.79.13 34 0 34 0S12.21.13 6.9 1.55c-2.93.78-4.63 3.26-5.42 6.19C.06 13.05 0 24 0 24s.06 10.95 1.48 16.26c.78 2.93 2.49 5.41 5.42 6.19C12.21 47.87 34 48 34 48s21.79-.13 27.1-1.55c2.93-.78 4.64-3.26 5.42-6.19C67.94 34.95 68 24 68 24s-.06-10.95-1.48-16.26z" fill="red"/><path d="M45 24 27 14v20" fill="white"/></svg>');
  filter: grayscale(100%);
  transition: filter .1s cubic-bezier(0, 0, 0.2, 1);
  border: none;
}

lite-youtube:hover > .lty-playbtn,
lite-youtube .lty-playbtn:focus {
  filter: none;
}

/* Post-click styles */
lite-youtube.lyt-activated {
  cursor: unset;
}
lite-youtube.lyt-activated::before,
lite-youtube.lyt-activated > .lty-playbtn {
  opacity: 0;
  pointer-events: none;
}

.lyt-visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


/*# sourceMappingURL=style.css.map */
